{% extends "task/root.html" %} {% block content%}
<article>
  <h1 class="m-5 fw-bold">Posts Home</h1>
  {% for users in posts %}
  <section class="d-flex p-4 m-5 align-items-center shadow-lg rounded">
    <div class="text-center">
      <img class="profile-pics-post shadow-md rounded-circle m-2" src="{{users.client.profile.pic.url}}" />
      <h6 class="text-primary">{{users.client}}</h6>
    </div>
    <div class="text-center container">
      <div class="px-auto">
        <p class="card-title"><b>{{users.name}}</b></p>
      <pre class="card-text">({{users.password}})</pre>
      <h6 class="card-text">{{users.dob|date:"F Y, d"}}</h6>
      </div>
    </div>
  </section>
  {% endfor %}
</article>
{% endblock content%}
