{% extends "task/root.html "%} {% block content %} {% load crispy_forms_tags %}
<div>
  <div class="d-flex p-4 m-4 box-shadow align-items-center">
    <div class="mx-3">
      <img class="rounded-circle" style="height: 140px; width: 140px; object-fit: cover" src="{{ user.profile.pic.url }}" alt="UserImage"/>
    </div>
    <div class="mx-3">
      <h1 class="my-3 fw-bold">{{ user.username }}</h1>
      <h6 class="my-3 text-muted">{{ user.email }}</h6>
    </div>
  </div>
</div>
{% endblock content%}
