{% extends "task/root.html "%} {% block content %} {% load crispy_forms_tags %}
<div class="d-flex justify-content-between">
  <div class="d-flex p-4 m-4 align-items-center">
    <div class="mx-3">
      <img class="profile-pics shadow-md rounded-circle" src="{{ user.profile.pic.url }}" alt="UserImage" />
    </div>
    <div class="mx-3">
      <h1 class="my-3 fw-bold">{{ user.username }}</h1>
      <h6 class="my-3 text-muted">{{ user.email }}</h6>
    </div>
  </div>
  <form  method="POST" class="m-4 p-4 shadow-lg rounded" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group my-1 mx-2">
      <legend class="fw-bold my-3">Update Form</legend>
      {{ UserEdit|crispy }} {{ ProfileEdit|crispy }}
    </fieldset>
    <div class="form-group my-4">
      <button class="btn btn-dark px-5 w-100" type="submit">Update</button>
    </div>
  </form>
</div>
{% endblock content%}
